div{background-color: black;width: 250px;}
.div1{width: 100px;height: 50px; background-color: aqua;}
.div2{width: 150px;height: 100px;background-color: blue;}
.div3{width: 200px;height: 150px;background-color: yellowgreen;}
.div4{width: 250px; height: 200px;background-color: red;}